
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Muli', sans-serif;
    overflow-x: hidden;
  }
  
  /* Showcase Area */
  .showcase-area {
    height: 350px;
    width: 100%;
    background: linear-gradient(rgba(166, 121, 75, -0.395), rgba(241, 194, 51, 0.748)),url(image/bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    animation: fadeIn 2s ease-in-out;
  }
  
  .showcase-container {
    font-size: 27px;
    color: white;
    position: absolute;
    margin-bottom: 5px;
    left: 20px;
    animation: slideUp 1s ease-in-out;
    padding: 10.6%;
  }
  .about-content {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(2, 2, 2);
    padding: 40px 168px;
    padding-bottom: 15px;
  }
  
  .text {
    margin: 11px;
    color: black;
    font-size: 1.2rem;
    line-height: 2.3;
    word-spacing: 1px;
    padding: 3px;
  }
  
  /* Media Queries for Responsiveness */
  @media (max-width: 768px) {
    .showcase-area {
        height: 250px;
    }
    .showcase-container {
        font-size: 20px;
        padding: 5%;
        left: 10px;
    }
    .about-content {
        font-size: 1.4rem;
        padding-left: 20px;
        padding-right: 10px;
    }
    .text {
        font-size: 1rem;
    }
  }